<h2>Manrique Figueroa Ramon</h2>
<h2>Examen de Segundo Parcial</h2>
<div class="mainContainer">
      <ng-select
        class="custom"
        [items]="defaultBindingsList"
        [closeOnSelect]="true"
        [searchable]="true"
        [clearable]="false"
        placeholder="Dimension"
        [(ngModel)]="selectedDimension"
        (change)="onChangeDimension($event)"
        ></ng-select>
        <ng-select
        class="custom"
        [items]="mesesList"
        [closeOnSelect]="true"
        [searchable]="true"
        [clearable]="false"
        placeholder="Mes"
        [multiple]="true"
        [(ngModel)]="selectedMeses"
        (change)="onChangeMeses($event)"
        ></ng-select>
        <ng-select
        class="custom"
        [items]="aniosList"
        [closeOnSelect]="true"
        [searchable]="true"
        [clearable]="false"
        placeholder="Año"
        [multiple]="true"
        [(ngModel)]="selectedAnios"
        (change)="onChangeAnios($event)"
        ></ng-select>
        <ng-select
        class="custom"
        [items]="nombresList"
        [closeOnSelect]="true"
        [searchable]="true"
        [clearable]="false"
        placeholder="Clientes"
        [multiple]="true"
        [(ngModel)]="selectedCustomer"
        (change)="onChangeCustomer($event)"
        ></ng-select>
      </div>
      <div class="graphicContainer">
        <div class="graphic">
        <app-bar-chart
          [barChartLabels]="dataAnios"
          [barChartData]="dataChartTable"
        ></app-bar-chart>
      </div>
  </div>
  