.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerContainer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.graphicContainer {
  display: flexbox;
  align-items: center;
}

.graphic {
  display: flexbox;
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 30px;
  width: 80vw;
}

.custom{
  width: 200px;
}